# Ignore virtual environment
.venv/
venv/
virt-env/
bot_env/

# Ignore IDE dir
.idea/

# Ignore git and cache dirs
.git
.cache
__pycache__
.pytest_cache/
*/.pytest_cache/

# Ignore log files
*.log
*/*.log
*/*/*.log